@font-face {
  font-family: "Roobert TRIAL";
  src: url(/assets/css/font/RoobertTRIAL-Regular.otf);
}
@font-face {
  font-family: "bold";
  src: url(/assets/css/font/RoobertTRIAL-Bold.otf);
}
* {
  font-family: "Roobert TRIAL";
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 18px;
}

input {
  border: solid 1px #E1E1E1;
  border-radius: 3px;
  padding: 15px;
}

.hex {
  width: 196px;
  height: 47px;
  border: solid 1px #E1E1E1;
  border-radius: 3px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 64px;
  right: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #919191;
}
.hex img {
  width: 23px;
  height: 23px;
  margin-right: 7px;
}

.sidebar {
  width: 327px;
  height: 100%;
  position: fixed;
  padding: 64px 15px 0px 15px;
  text-align: center;
  box-shadow: -2px 4px 15px -3px rgba(0, 0, 0, 0.25);
}
.sidebar .logo img {
  width: 40px;
  height: 40px;
  margin-bottom: 9px;
}
.sidebar .logo h1 {
  color: #4A9EA1;
  font-family: "bold";
}
.sidebar ul {
  position: relative;
  top: 58px;
  list-style: none;
}
.sidebar ul li {
  width: 296px;
  height: 54px;
  color: #313131;
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding-left: 54px;
}
.sidebar ul li a {
  text-decoration: none;
  color: #313131;
  padding: 17px auto;
  margin-left: 10px;
}
.sidebar ul :hover > svg *,
.sidebar ul :hover {
  background-color: #4A9EA1;
  stroke: white;
}
.sidebar ul :hover > svg * a,
.sidebar ul :hover a {
  color: white;
}

.container {
  margin-left: 327px;
  padding: 152px 70px 70px;
  width: auto;
  position: relative;
  overflow: auto;
  z-index: 1;
}
.container h1 {
  -webkit-text-decoration: underline 3px #4A9EA1;
          text-decoration: underline 3px #4A9EA1;
  text-underline-offset: 12px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 33px;
}
.filter .search {
  width: 391px;
  height: 41px;
  background-image: url(/assets/images/search.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
.filter .order {
  width: 211px;
  height: 41px;
  background-color: white;
  border: 1px solid #E1E1E1;
  color: #919191;
  padding: 10px 15px;
}

.divBox {
  border: solid 1px #E1E1E1;
  margin-top: 15px;
  padding: 32px 24px;
  border-radius: 3px;
}
.divBox p {
  margin-top: 24px;
  color: #919191;
}
.divBox a {
  text-decoration: none;
  display: inline-block;
  width: 78px;
  height: 25px;
  background-color: #4A9EA1;
  color: white;
  text-align: center;
  line-height: 25px;
  border-radius: 5px;
  font-size: 14;
  margin-top: 29px;
}

form {
  margin-top: 50px;
}
form .inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
form .inline .date {
  width: 186px;
  color: #919191;
}
form .inline .pub {
  width: 405px;
}
form .inline span {
  margin: 0 17px;
}
form .inline .short {
  width: 128px;
  height: 37px;
}
form .inline .medium {
  width: 107px;
}
form .inline .long {
  width: 207px;
}
form .inline .box {
  border: solid 1px #E1E1E1;
  border-radius: 3px;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input, form label {
  display: block;
}
form label {
  margin-top: 23px;
}
form input {
  width: 513px;
  height: 37px;
  margin-top: 10px;
}
form .large {
  height: 154px;
}
form h2 {
  margin-top: 25px;
  text-decoration: underline;
}
form .checkboxCont {
  display: flex;
}
form .checkboxCont label {
  color: #919191;
}
form .checkboxCont .checkbox {
  margin-top: 17px;
  display: block;
  list-style: none;
}
form .checkboxCont .checkbox li {
  margin-top: 10px;
  margin-right: 48px;
}
form .checkboxCont .checkbox input[type=checkbox] {
  width: 19px;
  height: 19px;
}
form .checkboxCont .checkbox input, form .checkboxCont .checkbox label {
  display: inline-block;
  margin-top: 0px;
}
form .formGrid {
  display: flex;
}
form .formGrid label {
  color: #919191;
}
form .formGrid .half {
  width: 337px;
}
form .formGrid .left {
  margin-right: 14px;
}

.grey {
  color: #919191;
  margin-top: 35px;
  margin-bottom: 45px;
}

.submit {
  width: 103px;
  height: 38px;
  background-color: #4A9EA1;
  color: white;
  border-radius: 3px;
  margin-top: 47px;
}

.top p {
  margin-top: 11px;
  color: #919191;
}/*# sourceMappingURL=style.css.map */