$primaryCol: #4A9EA1;
$secondaryCol: #919191;
$headCol: #313131;
$border: #E1E1E1;



* {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

h1{
    font-size: 25px;
}
h2{
    font-size: 18px;
    
}

input{
    border: solid 1px $border;
    border-radius: 3px;
    padding: 15px;
}





    .sidebar{
        width: 327px;
        height: 100%;
        position: fixed;
        padding:64px 15px 0px 15px ;
        text-align: center;
        box-shadow: -2px 4px 15px -3px rgba(0,0,0,0.25);
        .logo{
           
            img{
                width: 40px;
                height: 40px;
                margin-bottom: 9px;
            }
            h1{
                color: $primaryCol;
            }
        }
        ul{
            position: relative;
            top: 58px;
            list-style: none;
            li{
                width: 296px;
                height: 54px;
                color: $headCol;
                display: flex;
                align-items: center;
                border-radius: 3px;
                padding-left: 54px;
                a{
                    text-decoration: none;
                    color: $headCol;
                    
                    padding: 17px auto;
                   margin-left: 10px;
                    
                }
                
            }:hover > svg *,
            :hover{
                background-color: $primaryCol;
                stroke: white;
                a{
                    color: white;
                }
            }
        }
    }
    .container{
        margin-left: 327px;
        padding:152px 70px 70px;
        width: auto;
        position: relative;
        overflow: auto;
        z-index: 1;
        h1{
            text-decoration: underline 3px $primaryCol;
            text-underline-offset: 12px;
        }
    }


// ### Open Data Library Page ###

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 33px ;
    .search{
        
        width: 391px;
        height: 41px;
    }
    .order{
        width: 211px;
        height: 41px;
        background-color: white;
        border: 1px solid $border;
        color: $secondaryCol;
    }
}

.divBox{
    border: solid 1px $border;
    margin-top: 15px;
    padding: 32px 24px;
    border-radius: 3px;
    p{
        margin-top: 24px;
        color: $secondaryCol;
    }
    a{
        text-decoration: none;
        display: inline-block;
        width: 78px;
        height: 25px;
        background-color: $primaryCol;
        color: white;
        text-align: center;
        line-height: 25px;
        border-radius: 5px;
        font-size: 14;
        margin-top: 29px;
    }
}


// ### Data Contribution Page ###

form{
    margin-top: 50px;
    input,label{
        display: block;
        
    }
    label{
        margin-top: 23px;
    }
    input{
        width: 513px;
        height: 37px;
        margin-top: 10px;
       
    }
    .large{
        height: 154px;
    }
    .radioGroup{
        float: left;
        margin: 0 5px 0 0;
        width: 100px;
        height: 40px;
        position: relative;
        
        label, input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      input[type="radio"] {
        opacity: 0.011;
        z-index: 100;
      }
      input[type="radio"]:checked + label {
        background: #20b8be;
        border-radius: 4px;
      }
      label {
        cursor: pointer;
        z-index: 90;
        line-height: 1.8em;
      }
      
    }
      
      .button 
      
      .button input[type="radio"] {
        opacity: 0.011;
        z-index: 100;
      }
      
      .button input[type="radio"]:checked + label {
        background: #20b8be;
        border-radius: 4px;
      }
      
      .button label {
        cursor: pointer;
        z-index: 90;
        line-height: 1.8em;
      }
      
}